# BACKEND ENVIRONMENT VARIABLES

PROJECT_NAME=
DATABASE_URL=

# External Auth Integration
EXTERNAL_API_KEY=

# SMTP Email Configuration
EMAIL_ENABLED=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
FRONTEND_URL=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=